.footer {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ecf7fd 58.33%, #dbe6ff 100%);
  padding-top: 5%;
}

.footer-main {
  display: flex;
  flex-direction: column;
}
.footer-head {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.footer-text {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 66.667px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  justify-content: center;
  align-items: center;
}

.btn-head {
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}
